<mat-card class="login-card">
  <mat-card-subtitle>Crear cuenta</mat-card-subtitle>

  <form [formGroup]="registroForm" (ngSubmit)="registrarBibliotecario()" class="login-form">

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Usuario</mat-label>
      <input matInput formControlName="usuario" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Contraseña</mat-label>
      <input matInput type="password" formControlName="contraseña" />
    </mat-form-field>

    <button mat-raised-button color="primary" class="full-width" [disabled]="registroForm.invalid">
      Registrarse
    </button>

    <div class="registro-link">
      ¿Ya tienes cuenta?
      <a routerLink="/registro/login">Inicia sesión aquí</a>
    </div>
  </form>
</mat-card>
