.agregar-libro-container {
  background-color: #b2f0ff;
  padding: 30px;
  border-radius: 12px;
  font-family: 'Segoe UI', sans-serif;
  width: 100%;
  max-width: 700px;
}

.encabezado {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.encabezado h2 {
  font-weight: bold;
  font-size: 22px;
  margin: 0;
  color: #000;
}

.icono {
  width: 30px;
  height: 30px;
}

.form-libro {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.columna {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 15px;
  min-width: 260px;
}

.mat-form-field {
  width: 100%;
}

.btn-agregar {
  background-color: #333;
  color: white;
  border-radius: 20px;
  padding: 10px 20px;
  text-transform: none;
  font-weight: bold;
  margin-top: 12px;
}

.btn-agregar:hover {
  background-color: #000;
}
